/* <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style> */

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/* font-family: 'Space Mono', monospace; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

body{
    background-color: hsl(185, 41%, 84%);
}

.title{
    margin: 40px 0 10px 0;
    font-size:24px ;
    color:hsl(186, 14%, 43%) ;
    text-align: center;
    letter-spacing: 3px;
    overflow-wrap:break-word ;
}




.contenedorCalculadora{
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorCuenta, .contenedorPersonas{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    color:hsl(184, 14%, 56%) ;
}

.cuenta__Pago, .numeroPersonas{
    background-color: hsl(185, 41%, 84%);
    border-radius: 6px;
    color: hsl(183, 100%, 15%);
    padding: 5px 20px;
    width: 80vw;
    display: flex;
    justify-content:space-between ;
    margin-bottom: 20px;
}


img{
    height: fit-content;
    padding-top: 5px;
}

.tituloPropina{
    color:hsl(184, 14%, 56%);
    margin-bottom: 10px;
    max-width: 50vw;
    width :50vw;
    align-self: flex-start;
}


.contenedorGrid{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
}

.contenedorGrid>*{
    max-width: 40vw;
    width:40vw;
    height: 3rem;
    border: none;
    border-radius:10px;
    font-size: 20px;
    color: white;
    background-color: hsl(183, 100%, 15%);
}

.personalizar{
    color: hsl(189, 41%, 97%);
    background-color: hsl(189, 41%, 97%);
    text-align: center;
}

.inputs{
    width: 30px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: hsl(183, 100%, 15%);
    outline: none;
    font-size: 18px;
}

.contenedorResultados{
    background-color: hsl(183, 100%, 15%);
    color: hsl(172, 67%, 45%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80vw;
    width: 80vw;
}

.resultados{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4{
    color: white;
    font-size: 18px;
}


.pagos{
    font-size: 24px;
}


.reiniciar{
    border: none;
    background-color:hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%) ;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 0;
    width: 70vw;
    align-self: center;
    margin-bottom: 20px;
}

.attribution{
    display: flex;
    flex-direction: column;
}


a{
    text-decoration: none;
}